
# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

# This file contains all common constraints for edx-repos
-c common_constraints.txt

# greater version breaking test.
packaging==21.3

# gspread==5.12.0 contains breaking changes
# which break the scheduled repo health job
gspread<5.12.0

# pytest==8.1.0 breaks test plugin [needs to be investigated separately]
pytest<8.1.0

# Needed for Python 3.12 compatibility.
# Can be removed once support for Python<3.12 is dropped.
backports-zoneinfo==0.2.1; python_version < "3.9"

# date added: 28-07-25
# conflicting version are causing a failure: https://github.com/openedx/edx-repo-health/actions/runs/16510678524/job/46700605303#step:6:911
# Issue to remove the pin https://github.com/openedx/edx-repo-health/issues/598
cachetools==5.5.2

# date added: 13-09-24
# setuptools > 70.3.0 breaks the repo health workflow link: https://github.com/edx/repo-health-data/actions/runs/10846619044/job/30103106806
# Issue to remove the pin https://github.com/openedx/edx-repo-health/issues/523
setuptools==70.3.0
